<fw-panel>
    <!-- <div class="image-holder"> -->
      <div class="testify">
        <div ><h1 class ="welcome_title">Welcome to Asapcrypto</h1>
          <div class="welcome_comments">
          This is where you make transactions on E-currency. We are here to help
          speed up your transactions and build trusts and healthy relationships.
          </div>
        </div>

      </div>

    <!-- <div class >
        This is where you make transactions on E-currency. We are here to help
         speed up your transactions and build trusts and healthy relationships.
         </div> -->
    <div class="testify2">
        <div ><h1 class ="welcome_title">About Us</h1>
          <div class="welcome_comments">
          we create healthy bla bla bla
          </div>
        </div>

    </div>
  </fw-panel>
